html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

nav {
  display: block;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 1%;
}

header {
  display: flex;
  align-items: center;
}

.nav-start {
  display: flex;
  justify-content: space-between;
  width: 12%;
}

.logo {
  flex: 1
}